<html>

<head>
  <meta charset="utf-8">
  <title>Welcome to Moods!</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div>
    <video autoplay muted loop id="myVideo">
      <source src="video.mp4" type="video/mp4" />
    </video>
    <div class="main-menu">
      <img src="moodLogo.svg" />
      <p>Moodify is a music player that generates playlist according to your mood.</p>
      <div >
        <a class="access-button" href="/login">Log In</a>
        <a class="access-button" href="/signup">Sign Up</a>
      </div>
    </div>
  </div>
</body>

</html>
